
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    width: 100%;
    background: #005aa7;
  }

  nav a {
    padding: 12px;
    border-top: 1px solid #ffffff33;
    text-align: center;
  }

  #menu-toggle {
    display: block;
  }
}
